<!-- show direct reports of an employee -->
<div id="reports" ng-controller="reportsController">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Direct Reports</h1>
      <p class="lead">this is reports.html</p>
    </div>
  </div>
  <table class="table table-striped table-bordered table-hover table-responsive" ng-if="dataReady">
    <thead>
      <tr>
        <th scope="col">Picture</th>
        <th scope="col">Name</th>
        <th scope="col">Title</th>
        <th scope="col">Gender</th>
        <th scope="col">Start Date</th>
        <th scope="col">Office Phone</th>
        <th scope="col">Cell Phone</th>
        <th scope="col">SMS</th>
        <th scope="col">Email</th>
        <th scope="col">Manager</th>
        <th scope="col">Number of Direct Reports</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in reports">
        <td><img ng-src="{{employee.imageUrl}}" /></td>
        <td><a ng-href="#!/details/{{employee.id}}">{{employee.name}}</a></td>
        <td>{{employee.title}}</td>
        <td>{{employee.gender}}</td>
        <td>{{employee.startDate}}</td>
        <td>{{employee.phone}}</td>
        <td>{{employee.cell}}</td>
        <td>{{employee.sms}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.manager_name}}</td>
        <td>{{employee.reports}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-secondary" ng-click="back($event)">Back</button>
</div>